<div class="container">
    <h1>Sobre</h1>
    <div class="text-left">
        <p>Olá! Meu nome é Matheus Fernandes, e eu fiz esse site para praticar algumas tecnologias.</p>
        <p>Antes de começar o desenvolvimento, eu defini meus requisitos, e, embora novas ideias aparecessem durante a codificação, mantive-os até o fim.</p>
        <p>Os requisitos eram os seguintes:</p>
        <ul>
            <li>Desenvolver uma One Page Application, usando angular.js</li>
            <li>O site deve gerar proceduralmente sabores de bolos personalizados</li>
            <li>A interface de usuário deve conter animações e transições 100% em CSS</li>
            <li>Tanto os scripts quanto as folhas de estilo devem estar estruturadas em diretórios e devem ser carregadas pelo navegador como um único arquivo minificado.</li>
            <li>Usar as ferramentas disponíves no <a class="colored-text" href="https://www.npmjs.com/">npm</a></li>
        </ul>
        <p>Abaixo segue uma especificação das tecnologias utilizadas.</p>
        <h2>Ambiente de desenvolvimento</h2>
        <ul>
            <li><a class="colored-text" href="https://c9.io">Cloud9</a> como IDE;</li>
            <li><a href="https://git-scm.com/" class="colored-text">Git</a> como ferramenta de versionamento;</li>
            <li><a href="http://gulpjs.com/" class="colored-text">Gulp</a> como automatizador de tarefas.</li>
        </ul>

        <h2>Javascript</h2>
        <ul>
            <li><a href="https://angularjs.org/" class="colored-text">Angular.js</a> como framework;</li>
            <li>Códigos concatenados e minificados pelo Gulp;</li>
            <li>Simulação de uma API que retorna JSON
                <ul>
                    <li>
                        <a href="api/bolos.json" class="colored-text">Bolos</a>
                    </li>
                    <li>
                        <a href="api/sabores.json" class="colored-text">Sabores</a>
                    </li>
                </ul>
            </li>
        </ul>

        <h2>CSS</h2>
        <ul>
            <li><a href="http://sass-lang.com/" class="colored-text">Sass</a> como preprocessador, através do Gulp;</li>
            <li><a href="http://flexboxgrid.com/" class="colored-text">Flexbox Grid</a> como sistema de grade;</li>
            <li><a href="http://type-scale.com/" class="colored-text">TypeScale</a> como gerador de escala tipográfica;</li>
            <li>Ícones obtidos no <a href="http://www.flaticon.com/" class="colored-text">FlatIcon;</a></li>
        </ul>
        
        <p>É claro que existem detalhes a melhorar, mas acredito que atingi o meu objetivo de atender aos requisitos pré-definidos.</p>
    </div>
</div>
